<p>
  blog-create works!
</p>

<app-date-select [formKey]="'pos-product-detail'"[validation]="'require'"></app-date-select>
<br>

<app-time class="time-select" [formKey]="'pos-product-detail'" [validation]="'require'"> </app-time>
<br>

<app-elform [typeElem]="'password'" [placeHolderText]="'Current Password' | translate"
            [formKey]="'change-password'" [validation]="'required'"
            name="txtPass" ngModel></app-elform>
<app-number-form></app-number-form>

<div>
  <input placeholder="Name" type="text" (change)="txtName=$event.target.value;">
  <textarea rows="4" cols="35" placeholder="Messager" (change)="txtMess=$event.target.value;"></textarea>
</div>
<button (click)="submitForm()">Save</button>

<!--<app-alert></app-alert>-->
