.toast-message {
  padding: 0.5rem 2rem;
  /* -webkit-animation: fadeinout 5s linear forwards;
  animation: fadeinout 5s linear forwards; */
  /* visibility: hidden; */
  visibility: visible;
}

@-webkit-keyframes fadeinout {
  10%,
  90% {
    visibility: visible;
  }
}

@keyframes fadeinout {
  10%,
  90% {
    visibility: visible;
  }
}

.toast-x {
  top: 0.25rem;
  right: 0.75rem;
}
